/* Custom CSS for Search Component */

.jumbotron {
  color: white ;
  font-weight: bold;
  background-color: cornflowerblue;
  margin: 0px 0px 10px 0px;
  text-align: center;
  text-shadow: 0 0 white, 0 1px white, 1px 0 white, 0 0 white;

}

.welcome-message {
  color: cornflowerblue;
  text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

.robo-list {
  color: white;
  font-weight: bold;
}

.robo-avatar {
  position: relative;
  border: solid #84b1ff;
  border-bottom: 30px solid cornflowerblue;
  border-radius: 0;
  background: repeating-linear-gradient(
    -55deg,
    #f7f7f7,
    #f7f7f7 5px,
    #ffffff 5px,
    #ffffff 8px
  );


}

.robo-name {
  position: absolute;
  padding: 10px;
  left: 2px;
  color: white;
  text-align: left;
}

.robo-model {
  color: whitesmoke;
}

.robo-price {
  position: absolute;
  right: 2px;
  text-align: right;
  padding: 10px;
  color: white;
}
