/* Custom CSS for Search Component */

.jumbotron {
  color: white ;
  font-weight: bold;
  background-color: cornflowerblue;
  margin: 0px 0px 10px 0px;
  text-align: center;
  text-shadow: 0 0 white, 0 1px white, 1px 0 white, 0 0 white;
  padding: 10px 0px 10px 0px;

}

.welcome-message {
  color: cornflowerblue;
  text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

.display-results {
  padding-left: 10px;
  font-weight: bold;
  color:cornflowerblue;

}

.robo-list {
  color: white;
  font-weight: bold;
}

.robo-avatar {
  position: relative;
  border: solid #84b1ff;
  border-bottom: 30px solid cornflowerblue;
  border-radius: 0;
  background: repeating-linear-gradient(
    -55deg,
    #f7f7f7,
    #f7f7f7 5px,
    #ffffff 5px,
    #ffffff 8px
  );


}

.robo-avatar:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.robo-name {
  position: absolute;
  padding: 10px;
  left: 2px;
  color: white;
  text-align: left;
}

.robo-model {
  color: whitesmoke;
}

.robo-price {
  position: absolute;
  right: 2px;
  text-align: right;
  padding: 10px;
  color: white;
}
